<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWum_ofZq-nn9cSnfXnIAXrt_xqi13KFU</string>
	<key>GCM_SENDER_ID</key>
	<string>184295264037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.supermarketApp</string>
	<key>PROJECT_ID</key>
	<string>supermarket-1-2024</string>
	<key>STORAGE_BUCKET</key>
	<string>supermarket-1-2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184295264037:ios:067962c037fd2d2edd94cc</string>
</dict>
</plist>